<ng-container *ngIf="user$ | async as user">
  <mat-tab-group [(selectedIndex)]="tabIndex">
    <mat-tab label="Informacje">
      <app-user-details-info [user]="user"/>
    </mat-tab>
    <mat-tab label="Aktywuj">
      <app-user-activate (activationChanged)="changeActivation($event)" [user]="user"></app-user-activate>
    </mat-tab>
    <mat-tab label="Zmień role"></mat-tab>
    <mat-tab label="Usuń">
      <app-user-delete (userDeleted)="deleteUser($event)" [user]="user"/>
    </mat-tab>
  </mat-tab-group>
</ng-container>
