<div class="container">
  <p>Home</p>
  <button (click)="navigateTo('/')">Home</button>
  <button (click)="navigateTo('/auth/login')">Logowanie</button>
  <button (click)="navigateTo('/auth/register')">Rejestracja</button>
  <p *appIsAdmin>Panel administratora</p>
  <button (click)="navigateTo('/auth/users')" *appIsAdmin>Użytkownicy</button>

  <p>Section1</p>
  <button>Link1</button>
  <button>Link2</button>
  <button>Link3</button>
  <p>Section2</p>
  <button>Link1</button>
  <button>Link2</button>
  <button>Link3</button>
</div>
