.container {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom-width: .1rem;
  border-bottom-style: solid;
  background-color: #001f3f;
  color: white;
}

.logo {

}

.title {
  font-size: xxx-large;
}

.authentication-info {
  width: 200px;
}
