@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/roboto-fontface/css/roboto/roboto-fontface.css';
@import "global-style";

* {
  box-sizing: border-box;
  border-color: getColor(border);
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: getColor(color);
  background-color: getColor(background);
}

.correct {
  color: getColor(success)
}

.incorrect {
  color: getColor(warn)
}

.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;

  button {
    margin-top: 1rem;
    width: 100%;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
}

th, td {
  border-color: getColor(color) !important;
  border: .1rem solid;
  padding: .7rem;
  outline: none;
  text-align: center;
}

tbody {
  tr {
    &:hover {
      cursor: pointer;
      background-color: getColor(color);
      color: getColor(background);
    }
  }
}

