@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/roboto-fontface/css/roboto/roboto-fontface.css';
@import "global-style";

* {
  box-sizing: border-box;
  border-color: getColor(border);
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: getColor(color);
  background-color: getColor(background);
}

form {
  width: 30%;
  display: flex;
  flex-direction: column;

  button {
    margin-top: 1rem;
    width: 100%;
  }
}


