.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

button {
  height: 20% !important;
  font-size: small;
  width: 100%;
}

span {
  font-style: italic;
  margin-bottom: .3rem;
}
